@import url('https://fonts.googleapis.com/css?family=Lora|Source+Sans+Pro&display=swap');

.content{
    max-width: 100%;
    margin: 1em;
    align-content: center;
    font-family: 'Fjalla One', sans-serif;
    background-color:#ffffff;
}
  h1, h2, h3, h4, h5, h6 {
    color: rgb(0, 0, 0);
    text-align: center;
    margin: auto;
  
  font-family: 'Nunito', sans-serif;
    font-size: 2em;
    padding: 10px;
    line-height: 1em;
  }

   .leftcol, .rightcol{
    max-width:48%;
    flex: 1 0 15em;
    margin: .5em;
  }
  
.grid-item {
    background-color: #4a4a61;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 15px;
    text-align: center;
  }
  .main{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

  #nav{
    background-color: #4a4a61;
    padding: 1em;
    margin-top: 20px;
    padding-left: 175px;
  }
  
  ul{
    display: flex;
    list-style: none;
    padding-left: 10px;
    justify-content: space-around;
  }
 
  footer{
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    font-family: 'Fjalla One', sans-serif;
  }

  footer{
    background-color: #4a4a61;
    color: rgb(86, 99, 109);
  }

.logo {
    padding-left: .5em;
    position:relative;
    background-color: #4a4a61;
    border: grey 1px solid;

    /* curb */
    border-radius: 15px;
    width: auto;
    box-shadow: 5px 5px 5px #000000;
    width: 80%;
    padding: 1px 0;
    margin: 0 auto;
    /* img center */
    text-align: center;
  }
  
.banner {
    width: 50%;
  }
#textbody {
    text-align: center;
    font-size: 30px;
    color: rgb(0, 0, 0);
    padding: 30px;
    font-family: 'Lato', sans-serif;
    display: flex;
    
}

#nextbody {
  text-align: center;
  font-size: 25px;
  color: rgb(0, 0, 0);
  font-family: 'Lato', sans-serif; 
  
}
.pic {
  padding-left: .5em;
  position:relative;
  background-color: #4a4a61;
  border: grey 1px solid;
  /* curb */
  border-radius: 15px;
  width: auto;
  box-shadow: 7px 7px 7px rgb(191, 225,252);
  width: 80%;
  padding: 1px 0;
  margin: 0 auto;
  /* img center */
  text-align: center;
  
}
.bigbox {
  text-align: center;
  position:relative;
  padding: 20px;
}


#lato {
  text-align: center;
  font-size: 35px;
  color: rgb(0, 0, 0);
  font-family: 'Lato', sans-serif; 
  padding: 20px;

}
#nuno {
  text-align: center;
  font-size: 35px;
  color: rgb(0, 0, 0);
  font-family: 'Nunito', sans-serif;
  padding: 10px;
}
#Fjalla{
  text-align: center;
  font-size: 35px;
  color: rgb(0, 0, 0);
  font-family: 'Fjalla One', sans-serif;
  padding: 10px;

}
.dank p{
    border: 2px dotted black;
    padding: 10px;
    background-color: #d3d3d3;
    color: black;
  }

 
    
  
  nav ul{
    margin: 0 auto;
    padding: 15px;
    
    border-radius: 15px;
    background-color: #D6DAD9;
    font-family: 'Nunito', sans-serif;
  
  }
  /* =================================== */
  ul{
    font-size: large;
    list-style: none;
    display: flex;
    flex-direction:  column;
    text-align: center;
    
  }
  li{
    padding: 15px;
    display: none;
  }
  li:first-child{
    display: block;
  }
  .responsive li{
    display: block;
    background-color: #D6DAD9;
  }

  #hero-img {
    width: 91%;
    display: block;
    margin: 0 auto;
    border: solid #ffffff 10px;
    text-align: center;
  }
    .city {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      font-size: 1em;
      background-color: #4a4a61;
      color: rgb(255, 255, 255);
  }
  /* Chl block */

  .hero-ph{
    margin : 15px ; 
    background-color: #ff00ea;
    border: 10px solid radial-gradient(#4a4a61,#b9b9b9);
    height: 400px;
    text-align: center;


  }
  .hero-ph img{
    width: 100%;
    height: 400px;
  }

  .herodiv{
  margin: 10px;
  position: relative;
  border: 10px  cyan;
  height:400px;
  text-align: center;

  }

.weathersummary {
    position: relative;
    background-image: radial-gradient(#4a4a61,#ff0000);
    background: radial-gradient(#4a4a61);
    border: 10px #ff0000;
    padding: 10px;
    box-shadow: 5px 5px 5px #0a0a0a;
    text-align: center;
}

.about {
  padding: 25px;
  border: 2px solid black;
  margin: 20px;
  font-family: 'Fjalla One', sans-serif;
  background: #04ffc0;
  color: white;

  display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      font-size: 1em;
      background-color: #4a4a61;
      color: rgb(255, 255, 255);
}

table, th, td {
   
    font-family: 'Source Sans Pro', 'sans-serif';
    padding: 10px;
    background: #464646;
    color: white;
    margin: 52px;
    position: center;
    
    text-align: center;
    position:relative ;
    
    border: 1px solid white;
    
   
}
.about p{
  padding: 50px;
    font-size: 23px;
    line-height: 1.3em;
    text-align: center;
    color: rgb(0, 0, 0);
    margin:4px;
    font-family: 'Nunito', sans-serif;
    display: inline;
}

p {
  padding: 5px;
  font-size: 23px;
  line-height: 1.3em;
  text-align: center;
  color: rgb(0, 0, 0);
  margin:10px;
  border: 5px;
  font-family: 'Nunito', sans-serif;
}

about p {
display:flexbox;

}

footer p {
color: white;

}
footer a {
  color: white;
  
}
 footer a:visited {
  color: #ffffff;
}
   

  a:visited {
    color: #505050;
  }
  a:link {
    color: #000000;
  }
  a:hover, a:active {
    background-color: #b3b3ff;
  }
  a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  #time {
    font-size: 23px;
    line-height: 1.3em;
    font-family: 'Nunito', sans-serif;
    color: hotpink;
  }
  .hero-container {
    position: flex;
  }


  .aboutcontent {
    display: flex;
    flex-direction: row;
    /* Make column on small*/
    padding: 50px;
    background-color: #d6dad9;
    font-size: 18px;
}
/*=====================================================================================*/
.fivedayforecast {
  font-family: 'Source Sans Pro', 'sans-serif';
  margin: 0 auto;
  width: 600px;
  text-align: center;
  display: grid;

  
}
.forecast,
.forecast h3 {
    display: none;
}
.forecast {
  display: grid;
grid-template-columns: 2fr 4fr;
  margin: 18px auto;
  background-color: #ffffffb9;
  border-radius: 0 15px 15px 15px;
  width: 600px;
  
  padding: 5px;
  padding-top: 0;
  text-align: center;
  font-size: 12px;
}
.forecast h3 {
  max-width: 800px;
  font-size: 15px;
  margin-top: 0;
  padding: 5px 5px;
}
.forecast {
 font-size: 15px;  
}

.forecast h3 {
display: grid;
margin-top: 0;
background: #464646;
color: #ffffff;
padding: 3px;
max-width: 450px;
max-height: 30px;
border-radius: 0 15px 15px 15px;
}

.tf2{
  padding: 25px;
  border: 2px solid black;
  margin: 20px;
  font-family: 'Fjalla One', sans-serif;
  background: #04ffc0;
  color: white;

      align-items: center;
      padding: 5px;
      font-size: 1em;
      background-color: #ffffffb9;
      color: rgb(255, 255, 255);


}
.works{
  position: relative;
    top: 50px;
    left:50px;
    background-image: radial-gradient(#4a4a61,#b9b9b9);
    background: radial-gradient(#4a4a61);
    border: 1px #ff0000;
    padding: 10px;
    box-shadow: 5px 5px 5px #0a0a0a;
    text-align: center;
}

@media screen and (min-width: 520px){
    ul{
     flex-direction: row;
    } 
    li:first-child{
        display: none;
    }
    li{
        display: block; 
    }
   
   }
  