body{
    
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;

}

li{
    float: left;
    /*
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    T B L R
    margin: 0 10px 10px 10px;
*/
    margin: 10px;
    list-style: none;
    padding-left: 0;
   
    }    
    
    li a {
        text-decoration: none;

    }

    ul {
        border: 1px solid #000;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    }

    .highlight {
        font-weight: bold;
    }

    #active{
        background-color: blueviolet;
    
    }

    img {
        max-width: auto;
      }
      
      header {
        background-color:blueviolet;
        padding: auto center ;
        display: auto center;
        align-items:auto center ;
        justify-content:auto center;
        
        }
        main {
            display: auto;
            grid-column-gap: auto;
            grid-template-rows: auto;
            box-sizing: border-box;
            background-color:blueviolet;
            max-width: auto;
            margin: auto;
            padding: auto;
          }

          icon img {
            width: 100%;
           display: grid;
            grid-template-columns: 1fr 1fr;
           grid-column: 1 / -1;
            grid-row: 1;
          }
          .responsive li {
            display: block;
        }